body {
    width: 100wv;
}

.Home {
    width: 90%;
    margin: 0 auto;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 29px;
    outline: none;
    margin: 5px auto 20px;
    border: 1px solid black;
}

.search-bar {
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
}

.one-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.one-client-atribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 35px;
    background-color: rgba(235, 235, 235, 0.623);
    width: 100%;
}

.one-client-atribute:nth-child(odd){
    background-color: white;
}

.one-client-atribute p {
    margin: 0 10px;
    width: 130px;
    text-align: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.one-client-atribute a {
    text-decoration: none;
    color: black;
}


.one-client-atribute a p {
    width: 250px;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(50, 41, 71);
    color: white;

}

.information p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 130px;
    text-align: center;
    height: 45px;
}

.information p:first-child{
    width: 250px;
}

/* RESPONSIVE */

@media (max-width: 1120px) {

    .Home {
        width: 99%;
    }

    .search-input {
        width: 40%;
    }

    .rank {
        width: 30px;
    }

}

@media (max-width: 1000px) {

    .Home {
        width: 99%;
    }

    .search-input {
        width: 40%;
    }

    .information .rank {
        display: none;
    }

    .one-client-atribute .rank {
        display: none;
    }

}

@media (max-width: 850px) {


    .search-input {
        width: 60%;
    }

}

@media (max-width: 812px){
    .one-client .product {
        display: none;
    }

    .one-client .price {
        display: none;
    }

    .information p {
        width: 30%;
    }

    .one-client-atribute p {
        width: 30%;
    }
}

@media (max-width: 580px){

    .one-client a p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    .one-client-atribute {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 534px){
    .information p {
        width: 33%;
    }

    .one-client-atribute p{
        width: 33%;
    }
    
    *{
        font-size: 12px;
    }
}